## NULL Value Handling

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Bengaluru_House_Data.csv')
df_mean = pd.read_csv('Bengaluru_House_Data.csv')
df_median = pd.read_csv('Bengaluru_House_Data.csv')
df_mode = pd.read_csv('Bengaluru_House_Data.csv')
df_lr = pd.read_csv('Bengaluru_House_Data.csv')

In [3]:
df.shape

(13274, 5)

In [4]:
df

       bedrooms  total_sqft  bath  balcony   price
0           2.0      1056.0   2.0      1.0   39.07
1           4.0      2600.0   5.0      3.0  120.00
2           3.0      1440.0   2.0      3.0   62.00
3           3.0      1521.0   3.0      1.0   95.00
4           2.0      1200.0   2.0      1.0   51.00
...         ...         ...   ...      ...     ...
13269       5.0      3453.0   4.0      0.0  231.00
13270       4.0      3600.0   5.0      NaN  400.00
13271       2.0      1141.0   2.0      1.0   60.00
13272       4.0      4689.0   4.0      1.0  488.00
13273       1.0       550.0   1.0      1.0   17.00

[13274 rows x 5 columns]

In [5]:
df.isnull().sum()

bedrooms       16
total_sqft      0
bath           73
balcony       605
price           0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13274 entries, 0 to 13273
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bedrooms    13258 non-null  float64
 1   total_sqft  13274 non-null  float64
 2   bath        13201 non-null  float64
 3   balcony     12669 non-null  float64
 4   price       13274 non-null  float64
dtypes: float64(5)
memory usage: 518.6 KB

# Using Mean

In [7]:
df_mean['balcony'].fillna(value = df_mean['balcony'].mean().round(), inplace = True)
df_mean['bath'].fillna(value = df_mean['bath'].mean(),inplace = True)
df_mean['bedrooms'].fillna(value = df_mean['bedrooms'].mean(),inplace = True)

In [8]:
df_mean.isnull().sum()

bedrooms      0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [9]:
df_mean

       bedrooms  total_sqft  bath  balcony   price
0           2.0      1056.0   2.0      1.0   39.07
1           4.0      2600.0   5.0      3.0  120.00
2           3.0      1440.0   2.0      3.0   62.00
3           3.0      1521.0   3.0      1.0   95.00
4           2.0      1200.0   2.0      1.0   51.00
...         ...         ...   ...      ...     ...
13269       5.0      3453.0   4.0      0.0  231.00
13270       4.0      3600.0   5.0      2.0  400.00
13271       2.0      1141.0   2.0      1.0   60.00
13272       4.0      4689.0   4.0      1.0  488.00
13273       1.0       550.0   1.0      1.0   17.00

[13274 rows x 5 columns]

# Using Mode

In [10]:
df_mode.isnull().sum()

bedrooms       16
total_sqft      0
bath           73
balcony       605
price           0
dtype: int64

In [11]:
df_mode['balcony'].fillna(value = df_mode['balcony'].mode()[0],inplace = True)
df_mode['bath'].fillna(value = df_mode['bath'].mode()[0],inplace = True)
df_mode['bedrooms'].fillna(value = df_mode['bedrooms'].mode()[0],inplace = True)

In [12]:
df_mode.isnull().sum()

bedrooms      0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [13]:
df_mode

       bedrooms  total_sqft  bath  balcony   price
0           2.0      1056.0   2.0      1.0   39.07
1           4.0      2600.0   5.0      3.0  120.00
2           3.0      1440.0   2.0      3.0   62.00
3           3.0      1521.0   3.0      1.0   95.00
4           2.0      1200.0   2.0      1.0   51.00
...         ...         ...   ...      ...     ...
13269       5.0      3453.0   4.0      0.0  231.00
13270       4.0      3600.0   5.0      2.0  400.00
13271       2.0      1141.0   2.0      1.0   60.00
13272       4.0      4689.0   4.0      1.0  488.00
13273       1.0       550.0   1.0      1.0   17.00

[13274 rows x 5 columns]

# Using Median

In [14]:
df_median.isnull().sum()

bedrooms       16
total_sqft      0
bath           73
balcony       605
price           0
dtype: int64

In [15]:
df_median['balcony'].fillna(value = df_median['balcony'].median(),inplace = True)
df_median['bath'].fillna(value = df_median['bath'].median(),inplace = True)
df_median['bedrooms'].fillna(value = df_median['bedrooms'].median(),inplace = True)

In [16]:
df_mode.isnull().sum()

bedrooms      0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [17]:
df_median

       bedrooms  total_sqft  bath  balcony   price
0           2.0      1056.0   2.0      1.0   39.07
1           4.0      2600.0   5.0      3.0  120.00
2           3.0      1440.0   2.0      3.0   62.00
3           3.0      1521.0   3.0      1.0   95.00
4           2.0      1200.0   2.0      1.0   51.00
...         ...         ...   ...      ...     ...
13269       5.0      3453.0   4.0      0.0  231.00
13270       4.0      3600.0   5.0      2.0  400.00
13271       2.0      1141.0   2.0      1.0   60.00
13272       4.0      4689.0   4.0      1.0  488.00
13273       1.0       550.0   1.0      1.0   17.00

[13274 rows x 5 columns]

# Using Regression Model

In [18]:
df['bath'].fillna(value = df['bath'].mean(),inplace = True)
df['bedrooms'].fillna(value = df['bedrooms'].mean(),inplace = True)

In [19]:
df.isnull().sum()

bedrooms        0
total_sqft      0
bath            0
balcony       605
price           0
dtype: int64

In [20]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [21]:
testdf = df[df['balcony'].isnull()==True]
traindf = df[df['balcony'].isnull()==False]
testdf

       bedrooms  total_sqft  bath  balcony   price
6           4.0      2732.0   4.0      NaN  204.00
7           4.0      3300.0   4.0      NaN  600.00
9           6.0      1020.0   6.0      NaN  370.00
34          3.0      1925.0   3.0      NaN  125.00
40          2.0      1296.0   2.0      NaN   81.00
...         ...         ...   ...      ...     ...
13231       7.0      1400.0   7.0      NaN  218.00
13233       6.0      1200.0   5.0      NaN  130.00
13260       4.0      1200.0   5.0      NaN  325.00
13263       3.0      1675.0   3.0      NaN   92.13
13270       4.0      3600.0   5.0      NaN  400.00

[605 rows x 5 columns]

In [22]:
y = traindf['balcony']
traindf.drop("balcony",axis=1,inplace=True)

C:\Users\aebshanjida\AppData\Local\Temp\ipykernel_13424\3175534802.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  traindf.drop("balcony",axis=1,inplace=True)

In [23]:
lr.fit(traindf,y)

LinearRegression()

In [24]:
testdf.drop("balcony",axis=1,inplace=True)
pred = lr.predict(testdf)
testdf['balcony']= pred.round()

C:\Users\aebshanjida\AppData\Local\Temp\ipykernel_13424\3264316895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testdf.drop("balcony",axis=1,inplace=True)
C:\Users\aebshanjida\AppData\Local\Temp\ipykernel_13424\3264316895.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testdf['balcony']= pred.round()

In [25]:
predicted_balcony = testdf['balcony']

In [26]:
df.loc[df['balcony'].isnull(), 'balcony'] = predicted_balcony

df

       bedrooms  total_sqft  bath  balcony   price
0           2.0      1056.0   2.0      1.0   39.07
1           4.0      2600.0   5.0      3.0  120.00
2           3.0      1440.0   2.0      3.0   62.00
3           3.0      1521.0   3.0      1.0   95.00
4           2.0      1200.0   2.0      1.0   51.00
...         ...         ...   ...      ...     ...
13269       5.0      3453.0   4.0      0.0  231.00
13270       4.0      3600.0   5.0      2.0  400.00
13271       2.0      1141.0   2.0      1.0   60.00
13272       4.0      4689.0   4.0      1.0  488.00
13273       1.0       550.0   1.0      1.0   17.00

[13274 rows x 5 columns]

In [27]:
df.isnull().sum()

bedrooms      0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64